<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Convert Meida Files</title>

    <style>
      html {
        font-family: sans-serif;
      }

      body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5em;
      }

      pre code {
        background-color: #eee;
        border: 1px solid #999;
        display: block;
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <h2>Copy this and embed</h2>

    <script src="https://gist.github.com/anwarulislam/d3e09d76ecaaf78512cc5c866d7084ad.js"></script>
    
  </body>
</html>
